* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto';
    font-style: normal;
}

.wrapper {
    min-height: 100%;
}

.hero {
    background-color: rgba(242, 206, 218, 0.3);
    height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1,
h1,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 207px;
}

.logo {
    width: 79px;
    height: 79px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.nav__link:first-child {
    /*color: #D23166;*/
}

.btn {
    color: white;
    background-color: #D23166;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    height: 49px;
    width: 165px;
    padding: 15px 36px;
}

.hero__content {}

.hero__info {}

.hero__headline {
    font-family: 'Roboto';
    width: 172px;
    height: 16px;
    left: 254px;
    top: 285px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 21px;
}

.title {
    font-family: 'Fredoka One';
    font-style: normal;
    width: 665px;
    height: 130px;
    left: 254px;
    top: 307px;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    margin-bottom: 40px;
}

.title__element {
    color: #D23166;
}

.hero__desc {
    margin-bottom: 50px;
    width: 523px;
    height: 78px;
    left: 254px;
    top: 472px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(15, 1, 1, 0.6);
    font-family: 'Hind Madurai';
}

.around {
    width: 336px;
    height: 336px;
    background-color: rgba(242, 206, 218, 0.611);
    border-radius: 50%;
    position: absolute;
    left: 1113.8px;
    top: 400px;
}

.hero__img-cream {
    position: absolute;
    width: 597px;
    height: 597px;
    left: 990px;
    top: 126px;
}

.hero__img-milk {
    position: absolute;
    width: 851.86px;
    height: 548.1px;
    left: 850.8px;
    top: 251px;
    transform: rotate(4.79deg);
}

.offers {
    width: 1117px;
    height: 200px;
    margin: auto;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.food__img {
    padding-left: 30px;
    padding-top: 30px;
    justify-content: space-between;
}

.open {
    background-color: #F8EDF0;

}

.open__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open__desc {
    width: 442px;
    align-items: center;
}

.open__subtitle {
    margin-bottom: 16px;
}

.open__desc-text {
    margin-bottom: 22px;
}



.open__img-wrap {
    width: 50%;

}

.open__img {
    width: 100%;
}

.market__ice-cream {}

.container {}

.market__header {
    display: flex;
    justify-content: center;
    margin-top: 145px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
}

.market {}

.nav {}

.nav__list {
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.market__list {
    margin-top: 84px;
}

.nav__item {}

.nav__link {}

.market__info {}

.market__info-1 {
    display: flex;
}

.market__flex {
    display: flex;
    justify-content: center;
}

.market__img {}

.market__ice-img {}

.mrk {
    margin-left: 102px;
    margin-right: 102px;
}

.market__headline {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin-top: 43px;
    margin-bottom: 15px;
}

.market__desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.mrk-price {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.market__price {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}

.market__price-delete {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
    margin-left: 10px;
    margin-top: 5px;
}

.btn {}

.feedback {}

.feedback__container {}

.feedback__content {}

.review {}

.review__head {
    display: flex;
    align-items: center;
    padding-bottom: 49px;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.review__user {
    padding-bottom: 8px;
    padding-left: 21px;
}

.review__user-name {
    padding-bottom: 11px;
}

.review__user-nationality {}

.review__text {
    max-width: 345px;
}

.review__text:before,
.review__text::after {
    background-image: url(../img/Group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    content: '';
}

.review__text:before {
    display: block;
    transform: scale(-1, 1);
    position: absolute;
    top: 0;
    left: 0;
}

.review__text::after {
    vertical-align: sub;
    display: inline-block;
}

.feedback__slider {
    max-width: 256px;
}

.avatars-slider {
    padding: 0px 38px;
    position: relative;
}

.avatars-slider__ctlrs {
    position: absolute;
    display: flex;
    top: 70%;
    left: 0;
    width: 100%;
    transform: translate(0px, -70%);
    justify-content: space-between;
}

.avatars-slider__ctrl {}

.avatars-slider__ctrl_direction--prev {}

.avatars-slider__icon {}

.avatars-slider__list {
    display: flex;
    padding-top: 35px;
}

.avatars-slider__item {}

.avatar {}

.avatar__img {}

.active {
    border-radius: 1px solid #D64374;
}

.feedback__img {
    position: relative;
    padding-left: 500px;
    bottom: 300px;
}

.feedback__img-back {}

.section {}

.simple {
    background-color: #F8EDF0;
    width: 1900px;
    height: 678px;
}

.img__simple {
    display: flex;
    align-items: center;
}

.img__simple-ice {}

.title__simple {
    display: flex;

    justify-content: center;
}


.simple__text {}

.navis {}

.navis__simple {}

.block__fon {}

.img__simple-navis {}

.subtitle__simple-navis {}

.logo__simple {}

.logo__img-simple {}

.img__logo {}